<header id="header">
    <h1>MyBlog</h1>
    {{#if userId}}
    <h2>Welcome <span>{{email}}</span>!</h2>
    {{/if}}
    <nav id="nav">
        <ul>
            <li><a href="#/">Home</a></li>
            {{#unless userId}}
            <li><a href="#/login">Login</a></li>
            <li><a href="#/register">Register</a></li>
            {{else}}
            <li><a href="#/logout">Logout</a></li>
            {{/unless}}
        </ul>
    </nav>
</header>